/*li > a[href="ceramics.html"] { !* скрываю пункт меню этой страницы из header и из footer *!
    display: none;
}*/

.ceramics { /* общая обертка */
}

.ceramics__title {
}

.ceramics__sup-title {
}

.ceramics__sub-title {
}

.ceramics__img {
}

.ceramics__content {
}

.ceramics__list {
}

@media (max-width: 344px) {
    body {
        font-size: 9px;
    }
    .ceramics { /* общая обертка */
        width: 100vw;
        left: 4vw;
        right: 3vw;
    }
    .ceramics__img {
        width: 70vw;
        left: 15vw;
    }
}
