/*
li > a[href="dry_cleaning.html"] { !* скрываю пункт меню этой страницы из header и из footer *!
    display: none;
}*/

.cleaning {

}

.cleaning__demo-video {
    width: 60vw;
    margin: 1rem 0 1rem 10vw;
    border-radius: 10px;

}

.cleaning__title {

}

.cleaning__sup-title {

}

.cleaning__sub-title {

}

.ceramics__content {

}

.cleaning__img {

}

@media (max-width: 770px){
    .cleaning__img {
        width: 60vw;
        left: 10vw;
    }
}

@media (max-width: 381px){
    .cleaning {
        width: 22rem;
        left: 1rem;
    }

    .cleaning__demo-video {
        width: 100%;
        border-radius: inherit;
        margin: 0;
    }

    .cleaning__img {
        width: 100%;
        left: 0vw;
    }

}