/*li > a[href="polishing.html"] { !* скрываю пункт меню этой страницы из header и из footer *!
    display: none;
}*/

* {
    padding: 0;
    margin: 0;
}

.wrapper { /* обертка содержимого main */
    width: 80vw;
    position: relative;
    left: 10vw;
}

h1 {
    text-transform: uppercase;
    color: rgb(163, 116, 41);
    font-size: 2em;
    text-align: left;
    font-weight: 200;
}

h2 {
    color: rgb(163, 116, 41);
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgb(163, 116, 41);
    border-bottom: 1px solid rgb(163, 116, 41);
    text-indent: 0;
    margin-bottom: 0.5rem;
}


.polishing { /* крид контейнер для содержимого main */
    display: grid;
    grid-template-columns: repeat(2, auto); /* два столбца, 1 - 25% ширины, 2- 75% */
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "img1 block1 "
        "block2 img2"
        "img3 block3"
        "block4 img4"
        "img5 block5"
        "block6 img6"
        "img7 block7";

}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img7 {
    grid-area: img7;
}

.block1 {
    grid-area: block1;
}

.block2 {
    grid-area: block2;
}

.block3 {
    grid-area: block3;
}

.block4 {
    grid-area: block4;
}

.block5 {
    grid-area: block5;
}

.block6 {
    grid-area: block6;
}

.block7 {
    grid-area: block7;
}

.polishing__image {
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1); /* тень для фото */
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1);


}

.polishing__block {
    text-align: justify; /* текст по ширине в блоках сбоку от изображений */
    margin: 0.3rem;
}

.polishing__subtitle {
    color: rgb(0, 0, 0);
    text-indent: 1px;
    text-transform: uppercase;
    font-weight: 800;
}

.polishing__content {

}

ol, ul {
    padding-left: 1rem; /* выравниваю списки с в одну верт. линию с остальным текстом */
}
