/*::-webkit-scrollbar { !* chrome based убираю скролл *!
    width: 0;  !* ширина scrollbar *!
    background: transparent;  !* опционально *!
}

html {
    -ms-overflow-style: none;  !* убираю скролл IE 10+ *!
}*/
li > a[href="index.html"] { /* скрываю пункт меню этой страницы из header и из footer */
    display: none;
}

main {
    max-width: 100%;
    background-color: rgb(61, 68, 75);
}

.wrapper { /* обертка */
    position: relative;
    display: flex;
}

main > .wrapper {
    flex-direction: column;
}

.motto { /* первый сверху текстовый блок */
    width: 100%;
    z-index: 1;
    align-self: flex-start;
}

#myVideo { /* видео */
    width: 100%;
    position: absolute;
    z-index: -1;
}

.motto_content {
    padding-top: 3rem;
    padding-left: 8rem;
    position: relative;
    height: 30vh;
}

.motto__title, .motto__body {
    text-align: left;
    color: rgb(163, 153, 41);
    text-transform: uppercase ;
}

.motto__title {
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 20px;
}

.motto__body {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
}

.about-us {
    height: auto;
    background-color: white;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgb(163, 116, 41);
    border-top: 1px solid rgb(163, 116, 41);
}

.about-us__image {
    max-width: 10em;
    max-height: 10em;
    margin: auto 0;
    border-radius: 50%;
}

.about-us__content {
    padding: 40px;
}

.about-us__title {
    color: rgb(163, 116, 41);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.about-us__body {
    font-size: 1.2em;
    color: gray;
    text-align: justify;
}

.reviews {
    background-color: white;
    border-bottom: 1px solid rgb(163, 116, 41);
}

.reviews__title {
    border-bottom: 4px solid rgb(163,116,41);
    display: inline-block;
    width: 80%;
    margin: 2% 10% 0 10%;;
    color: rgb(163,116,41);
    font-size: 2.5em;
    font-weight: 600;
}

.reviews__area {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.reviews__post {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.reviews__photo {
    max-width: 10em;
    max-height: 10em;
    margin: 0 auto;
    border-radius: 50%;
}

.reviews__name {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin: 0.2rem auto;
}

.reviews__text {
    text-align: justify;
    font-size: 0.9em;
    color: gray;
}

.portfolio {
}

.portfolio__title {
    text-transform: uppercase;
}

@media (max-width: 1110px) {
    body {
        font-size: 10px;
    }
}

@media (max-width: 770px){
    .reviews__area {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1rem;
    }

    .reviews__post {
        flex-basis: 33%;
    }

    .motto_content {
        padding-top: 5px;
        padding-left: 5px;
        position: relative;
        height: 20vh;
    }

    .about-us__content {
        padding: 5px;
    }
}

@media (max-width: 769px) {
    .motto__title {
        letter-spacing: 3px;
    }
}

@media (max-width: 600px) {
    .reviews__post {
        flex-basis: 49%;
    }

    .reviews__post:nth-child(odd) {
        border-right: 2px solid rgb(163, 116, 41);
        padding-right: 0.33em;
    }

}

@media (max-width: 345px) {
    .reviews__post {
        flex-basis: 98%;
        font-size: 1.2em;
    }

    .reviews__post:nth-child(odd) {
        border-right: none;
        padding-right: 0;
    }
}