/*::-webkit-scrollbar { !* chrome based убираю скролл *!
    width: 0;  !* ширина scrollbar *!
    background: transparent;  !* опционально *!
}

html {
    -ms-overflow-style: none;  !* убираю скролл IE 10+ *!
}*/

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 116, 41);
}

.secondary__menu { /* левая часть хедера  */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.main-logo { /* link лого и название */
    margin: auto 1rem auto 0.5rem;
    text-decoration: none; /* убираю подчеркивание ссылки в лого и названии с подписью */
}

.main-logo > svg { /* svg логотип */
    max-width: 57px;
    max-height: 57px;
    fill: rgb(163, 116, 41);
}

.main-logo > svg:hover, /* при наведении или клике на лого и имя */
.main-logo > svg:active,
.main-logo > .name_sub :hover,
.main-logo > .name_sub :active,
.social svg:hover, /* при наведении или клике на лого соцсетей */
.social svg:active {
    color: rgb(173, 219, 202);
    fill: rgb(173, 219, 202);
    transition: .2s linear;
}
.name_sub { /* обертка названия и подписи */
    display: inline-block;
    position: relative;
    top: -18px; /* кроме px ничего не прокатит */
}

.name { /* название студии */
    color: rgb(163, 116, 41);
    font-weight: 600;
    font-size: 1.1em;
    line-height: 0.4em;
}

.sub-name { /* подпись под названием */
    color: rgb(163, 116, 41);
    font-weight: 100;
    font-size: 0.7em;
}

.social { /* иконки-ссылки соц сетей */
    margin: auto 15px auto 0;
}

.social > svg { /* svg иконок-ссылок соц. сетей */
    fill: rgb(163, 116, 41);
    width: 2em;
}

nav { /* основное меню */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu-box { /* главное меню в nav */
    list-style: none;
}

#menu__toggle { /* скрываю чекбокс меню */
    display: none;
}

.menu__btn {
    display: none; /* скрываю лэйбл-переключатель */
}

.menu__box li {
    display: inline-block;
    margin-top: 1.3rem;
    margin-right: 2rem;
}

.menu__box a {
    text-decoration: none;
    font-size: 3em;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(163, 116, 41);
    text-align: left;
}

.menu__box a:hover,
.menu__box a:active {
    color: rgb(173, 219, 202);
}

main {
    max-width: 100%;
    background-color: rgb(61, 68, 75);
}

.wrapper { /* обертка */
    position: relative;
    display: flex;
}

main > .wrapper {
    flex-direction: column;
}

.motto { /* первый сверху текстовый блок */
    width: 100%;
    z-index: 1;
    align-self: flex-start;
}

#myVideo { /* видео */
    width: 100%;
    position: absolute;
    z-index: -1;
}

.motto_content {
    padding-top: 3rem;
    padding-left: 8rem;
    position: relative;
    height: 30vh;
}

.motto__title, .motto__body {
    text-align: left;
    color: rgb(163, 153, 41);
    text-transform: uppercase ;
}

.motto__title {
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 20px;
}

.motto__body {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
}

.about-us {
    height: auto;
    background-color: white;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgb(163, 116, 41);
    border-top: 1px solid rgb(163, 116, 41);;
}

.about-us__image {
    max-width: 10em;
    max-height: 10em;
    margin: auto 0;
    border-radius: 50%;
}

.about-us__content {
    padding: 40px;
}

.about-us__title {
    color: rgb(163, 116, 41);
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.about-us__body {
    font-size: 1.2em;
    color: gray;
    text-align: justify;
}

.reviews {
    background-color: white;
    border-bottom: 1px solid rgb(163, 116, 41);
}

.reviews__title {
    border-bottom: 4px solid rgb(163,116,41);
    display: inline-block;
    width: 80%;
    margin: 2% 10% 0 10%;;
    color: rgb(163,116,41);
    font-size: 2.5em;
    font-weight: 600;
}

.reviews__area {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.reviews__post {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.reviews__photo {
    max-width: 10em;
    max-height: 10em;
    margin: 0 auto;
    border-radius: 50%;
}

.reviews__name {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    margin: 0.2rem auto;
}

.reviews__text {
    text-align: justify;
    font-size: 0.9em;
    color: gray;
}

.portfolio {

}

.portfolio__title {
    text-transform: uppercase;
}

footer {
    padding: 3rem 3rem 0 3rem;
}

.container {
    display: flex;
    justify-content: space-between;

}

.worktime {
    padding: 5rem 0;

}

.worktime__1 {
    font-size: 1em;
    font-weight: 300;
}

.worktime__2 {
    font-size: 2em;
    font-weight: 600;
}

.map {
    text-align: center;
    box-shadow: 0 0 29px -10px #000000;
    border-radius: 10px;
    width: 20em;
    height: 15em;
}

.map > iframe {
    width: 100%;
    height: 100%;

}

.sub_menu {
    margin: 4rem 0;
}

.footer__menu {
    list-style: none;
    display: inline-block;
}

.footer__menu > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    font-style: unset;
}

.footer__menu > li > a:hover, /* при наведении или клике на лого соцсетей */
.footer__menu > li > a:active {
    color: rgb(237, 0, 0);
    transition: .2s linear;
}

.moreinfo {
    padding: 4rem 0;
}

.number {
    font-size: 2em;
    font-weight: 600;
}

.social__wrapper {
    margin-top: 1rem;
    margin-left: 3rem;
}

.social__wrapper > .social {
    text-decoration: none;
}

.social__wrapper > .social > svg {
    fill: black;
    width: 2em;
}

.social__wrapper > .social svg:hover, /* при наведении или клике на лого соцсетей */
.social__wrapper > .social svg:active {
    fill: rgb(237, 0, 0);
    transition: .2s linear;
}

.copyright {
    text-align: center;
    font-size: 0.9em;
    margin-top: 3rem;
}

@media (max-width: 1110px) {
    body {
        font-size: 10px;
    }

    .menu__box li {
        display: inline-block;
        margin-top: 1.5rem;
        margin-right: 1em;
    }

    .worktime {
        padding: 0;
        margin-top: 5em;
    }

    .sub_menu {
        margin: 4em 0 0;
    }

    .moreinfo {
        padding: 0;
        margin-top: 5em;
    }

    .social__wrapper {
        margin-top: 0.5em;
        margin-left: 2em;
    }


}

@media (max-width: 770px){
    .reviews__area {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1rem;
    }

    .reviews__post {
        flex-basis: 33%;
    }

    .motto_content {
        padding-top: 5px;
        padding-left: 5px;
        position: relative;
        height: 20vh;
    }

    .about-us__content {
        padding: 5px;
    }

    .worktime {
        padding: 4em 0 0 0;
    }

    .sub_menu {
        margin: 3.5em 0 0 3em;
    }

    .moreinfo {
        padding: 0;
        margin-top: 5em;
    }

    .social__wrapper {
        margin-top: 1em;
        margin-left: 1.7em;
    }

}



@media (max-width: 769px) {
    .main-logo {
        display: block;
        margin: 0;
    }

    .nav {
        text-align: center;
        padding: 10px 0 0 0;
    }

    .menu-main:last-child {
        margin: 0;
    }

    .menu-main > li > a {
        padding: 0 10px;
        font-size: 14px;
    }

    .social {
        display: none;
    }

    footer {
        padding: 10px;
    }

    .container {
        flex-wrap: wrap;
    }

    .map {
        order: 1;
        flex-basis: 100%;
    }

    .sub_menu {
        order: 2;
        flex-basis: 100%;
        margin: 0;
    }
    .footer__menu {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .worktime {
        order: 3;
        padding: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .copyright {
        font-size: 0.9em;
        margin-top: 0;
    }

    .motto__title {
        letter-spacing: 3px;
    }
    .social__wrapper {
        display: none;
    }

    .moreinfo {
        order: 4;
        padding: 0.3rem;
        flex-basis: 100%;
        text-align: center;
    }

    footer {
        padding: 10px;
    }

    .container {
        flex-wrap: wrap;
    }

    .map {
        order: 1;
        flex-basis: 100%;
    }
    .sub_menu {
        order: 2;
        flex-basis: 100%;
        margin: 0;
    }
    .footer__menu {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .worktime {
        order: 3;
        padding: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .copyright {
        font-size: 0.9em;
        margin-top: 0;
    }

    .motto__title {
        letter-spacing: 3px;
    }

    .social__wrapper {
        display: none;
    }

    .moreinfo {
        order: 4;
        padding: 0.3rem;
        flex-basis: 100%;
        text-align: center;
    }


}

@media (max-width: 600px) {
    header {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid black;
    }

    nav {
        position: absolute /* вывожу nav из потока */
    }

    .secondary__menu {

    }

    .main-logo {
        justify-content: center;
    }

    .social {
        display: none;
    }

    /******************/
    .menu { /* отображаю меню в виде блока */
        display: block;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center; /* центрируем содержимое кнопки */
        position: fixed;
        right: 0;
        top: 0;
        margin-right: 15px;
        margin-top: 15px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 999;
    }

    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(163, 116, 41);
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: rgb(61, 68, 75);
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: rgb(163, 116, 41);
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        z-index: 2;
        padding-top: 5em;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .1ms;
    }

    .menu__box {
        transition-duration: .1ms;
    }

    .menu__item {
        transition-duration: .1ms;
    }
    /******************/
    .menu__box:last-child {
        margin-right: 0;
    }

    .menu__box {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .menu__box li {
        display: block;
        margin: 0
    }

    footer {
        padding: 10px;
    }

    .container {
        flex-wrap: wrap;
    }

    .map {
        order: 1;
        flex-basis: 100%;
    }
    .sub_menu {
        order: 2;
        flex-basis: 100%;
        margin: 0;
    }
    .footer__menu {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .worktime {
        order: 3;
        padding: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .copyright {
        font-size: 0.9em;
        margin-top: 0;
    }

    .motto__title {
        letter-spacing: 3px;
    }

    .social__wrapper {

    }

    .moreinfo {
        order: 4;
        padding: 0.3rem;
        flex-basis: 100%;
        text-align: center;
    }

}




