main {
    background-color: rgb(40, 46, 51);
    max-width: 100%;
}

.top-menu {
    background: rgb(61, 68, 75);
    padding: 20px;
}

.top-menu:after {
    content: "";
    display: block;
    clear: both;
}

.main-logo {
    display: inline-block;
    max-width: 57px;
}

.main-logo > svg {
    max-width: 100%;
    max-height: 57px;
}

.main-logo > svg:hover {
    fill: rgb(217, 184, 0);
    transition: .3s linear;
}

.social {
    display: inline-block;
    position: relative;
    bottom: 10px;
}

.social svg:hover,
.social svg:active {
    fill: #808E99;
    transition: .3s linear;
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
    transition: .1s linear;
}

.menu-main a:hover,
.menu-main a:active {
    color: rgb(217, 184, 0);
}

@media (max-width: 660px) {
    .menu-main {
        float: none;
        padding-top: 20px;
    }

    .top-menu {
        text-align: center;
        padding: 20px 0 0 0;
    }

    .menu-main a {
        padding: 0 10px;
    }
}

@media (max-width: 600px) {
    .menu-main li {
        display: block;
    }
}

/* ------------ */
.wrapper {
    display: inline-block;
    max-width: 100%;
}

#myVideo {

    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {

    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}