@import "preloader.css";
@import "normalize.css";
@import "fonts.css";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(163, 116, 41);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*------------HEADER------------*/
header { /* хедер без адаптива */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(163, 116, 41);
}

.links { /* левая часть хедера  */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.links__logo { /* link лого и название */
    margin: auto 1rem auto 0.5rem;
    text-decoration: none; /* убираю подчеркивание ссылки в лого и названии с подписью */
}

.links__logo > svg { /* svg логотип */
    max-width: 57px;
    max-height: 57px;
    fill: rgb(163, 116, 41);
}

.links__logo > svg:hover, /* при наведении или клике на лого и имя */
.links__logo > svg:active,
.links__logo > .name_sub :hover,
.links__logo > .name_sub :active,
.links__social > svg:hover, /* при наведении или клике на лого соцсетей */
.links__social > svg:active {
    color: rgb(173, 219, 202);
    fill: rgb(173, 219, 202);
    transition: .2s linear;
}

.name_sub { /* обертка названия и подписи */
    display: inline-block;
    position: relative;
    top: -18px; /* кроме px ничего не прокатит */
}

.name { /* название студии */
    color: rgb(163, 116, 41);
    font-weight: 600;
    font-size: 1.1em;
    line-height: 0.4em;
}

.sub-name { /* подпись под названием */
    color: rgb(163, 116, 41);
    font-weight: 100;
    font-size: 0.7em;
}

.links__social { /* иконки-ссылки соц сетей */
    margin: auto 15px auto 0;
}

.links__social > svg { /* svg иконок-ссылок соц. сетей */
    fill: rgb(163, 116, 41);
    width: 2em;
}

nav { /* основное меню */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.menu__box { /* главное меню в nav */
    list-style: none;
    height: 100%;
}

#menu__toggle { /* скрываю чекбокс меню */
    display: none;
}

.menu__btn {
    display: none; /* скрываю лэйбл-переключатель */

}

.menu__box li { /* список меню в хедере */
    display: inline-block;
    margin-top: 1.3rem;
}

.menu__box a { /* ссылки в списке меню в хедере */
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(163, 116, 41);;
    transition: .1s linear;
    margin-right: 1rem;
}

.menu__box a:hover, /* при наведении и клике нассылки в списке меню в хедере */
.menu__box a:active {
    color: rgb(173, 219, 202);
}

.menu__box > .menu__links {
    display: none;
}

/*------------/HEADER------------*/
/*------------MAIN------------*/
.main { /* общая обертка */
    display: inline-block;
    width: 80vw;
    position: relative;
    left: 10vw;
}

.main__title { /*h1 заголовок на странице*/
    text-transform: uppercase;
    color: rgb(163, 116, 41);
    font-size: 2em;
    text-align: left;
    margin: 0.67em 0;
    font-weight: 500;
}

.main__sup-title { /* h2 трактовка заголовка на странице */
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(163, 116, 41);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgb(163, 116, 41);
    border-bottom: 1px solid rgb(163, 116, 41);
    text-indent: 0;
}

.main__sub-title { /* h3 заголовки самого низкого уровня на странице */
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    text-align: left;
    letter-spacing: 0.12em;
    padding: 1em 0;
}

.main__img { /* контентные изображенрия на странице */
    width: 60vw;
    position: relative;
    left: 10vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 28px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 28px 0 rgba(0, 0, 0, 1);
}

.main__content { /* основной контент */
    text-indent: 1rem;
    text-align: justify;
}

.main__list { /* ol/ul списки  */
    margin-left: 1.8rem;
}

/*------------/MAIN------------*/
/*------------FOOTER------------*/
footer { /*!!!!!!!!*/
    padding: 3rem 3rem 0 3rem;
}

.footer { /* обертка содержимого в футере */
    display: flex;
    justify-content: space-between;
}

.footer__work-time { /* раб время в футере */
    padding: 5rem 0;
}

.footer__title { /* текст раб времени */
    font-size: 1em;
    font-weight: 300;
}

.footer__time { /* раб время*/
    font-size: 2em;
    font-weight: 600;
}

.footer__map { /* обертка яндекс карты */
    text-align: center;
    box-shadow: 0 0 29px -10px #000000;
    border-radius: 10px;
    width: 20em;
    height: 15em;
}

.footer__map > iframe { /* фрейм с картой */
    width: 100%;
    height: 100%;
}

.footer__menu-wrapper { /* обертка списка меню в футере */
    margin: 4rem 0;
}

.footer__menu { /* список меню в футере */
    list-style: none;
    display: inline-block;
}

.footer__menu > li > a { /* ссылки в пунктах меню в футере */
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    font-style: unset;
}

.footer__menu > li > a:hover, /* при наведении или клике на пункт меню в футере */
.footer__menu > li > a:active {
    color: rgb(237, 0, 0);
    transition: .2s linear;
}

.footer__contacts { /* обертка номера телефона и иконок соц сетей */
    padding: 4rem 0;
}

.footer__phone-number { /* номер телефона в футере */
    font-size: 2em;
    font-weight: 600;
}

.footer__contacts > .links { /* обертка ссылок иконок в футере */
    margin-top: 1rem;
    margin-left: 3rem;
}

.footer__contacts > .links > .links__social { /* ссылки-иконки соц сетей */
    text-decoration: none;
}

.footer__contacts > .links > .links__social > svg { /* svg внутри ссылок соц сетей */
    fill: black;
    width: 2em;
}

.footer__contacts > .links > .links__social svg:hover, /* при наведении или клике на лого соцсетей */
.footer__contacts > .links > .links__social svg:active {
    fill: rgb(237, 0, 0);
    transition: .2s linear;
}

.footer__copyright { /* копирайт в футере */
    text-align: center;
    font-size: 0.9em;
    margin-top: 3rem;
}

@media (max-width: 1110px) {
    body { /* header, footer */
        font-size: 10px;
    }

    .menu__box li { /* список меню в хедере */
        margin-top: 1.5rem;
    }


    .footer__work-time { /* раб время в футере */
        padding: 0;
        margin-top: 5em;
    }

    .footer__menu-wrapper { /* обертка списка меню в футере */
        margin: 4em 0 0;
    }

    .footer__contacts { /* обертка иконок соц сетей и номера телефона в футере */
        padding: 0;
        margin-top: 5em;
    }

    .footer__contacts > .links { /* обертка иконок соц сетей в футере */
        margin-top: 0.5em;
        margin-left: 2em;
    }
}

@media (max-width: 770px) {

    .footer__work-time { /* раб время в футере */
        padding: 4em 0 0 0;
    }

    .footer__menu-wrapper { /* обертка списка меню в футере */
        margin: 3.5em 0 0 3em;
    }

    .footer__contacts { /* обертка иконок соц сетей и номера телефона в футере */
        padding: 0;
        margin-top: 5em;
    }

    .footer__contacts > .links { /* обертка иконок соц сетей в футере */
        margin-top: 1em;
        margin-left: 1.7em;
    }
}

@media (max-width: 769px) {
    .links__logo { /* ссылка-лого */
        display: block;
        margin: 0;
    }

    .nav { /* !!!! */
        text-align: center;
        padding: 10px 0 0 0;
    }

    .links__social { /* ссылки логотипы соц. сетей */
        margin: 15px 0 auto 7px;
    }

    footer { /* !!!! */
        padding: 10px;
    }

    .footer { /* обертка содержимого в футере */
        flex-wrap: wrap;
    }

    .footer__map { /* обертка яндекс карты */
        order: 1;
        flex-basis: 100%;
    }

    .footer__menu-wrapper { /* обертка списка меню в футере */
        order: 2;
        flex-basis: 100%;
        margin: 0;
    }

    .footer__menu { /* список меню в футере */
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-bottom: -2rem;
    }

    .footer__work-time { /* раб время в футере */
        order: 3;
        padding: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .footer__copyright { /* копирайт в футере */
        font-size: 0.9em;
        margin-top: 0;
    }

    .footer__contacts {
        margin-top: 0;
    }

    .footer__contacts > .links { /* обертка ссылок-иконок соц сетей в футере */
        display: none;
    }

    .footer__contacts { /* обертка иконок соц сетей и номера телефона в футере */
        order: 4;
        padding: 0.3rem;
        flex-basis: 100%;
        text-align: center;
    }

    .footer__map { /* обертка яндекс карты */
        order: 1;
        flex-basis: 100%;
    }
}

@media (max-width: 716px) {
    header {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid black;
    }

    nav { /* основное меню */
        position: absolute /* вывожу nav из потока */
    }

    .links__logo { /* ссылка логотип */
        justify-content: center;
    }

    .links__social { /* ссылки иконки соц сетей */
        display: none;
    }

    .menu__box > .menu__links { /* ссылки в последнем пункте меню */
        display: block;
    }

    .menu__box > .menu__links > .links__social { /* иконки соц сетей в бургере */
        display: inline-block;
        margin: 0 1rem;
    }

    .menu__box > .menu__links > p { /* номер телефона в бургере */
        color: rgb(163, 116, 41);
        font-size: 2.5rem;
        letter-spacing: 3px;
    }

    /*-----------ниже бургер меню которое отобразится на мобилках------------*/
    /* стилизуем кнопку */
    .menu__btn { /* лэйбл-кнопка бургер меню */
        display: flex; /* используем flex для центрирования содержимого */
        align-items: center; /* центрируем содержимое кнопки */
        position: fixed;
        right: 0;
        top: 0;
        margin-right: 15px;
        margin-top: 15px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 999;
    }

    .menu__btn > span, /* добавляю "гамбургер" снизу и сверху лэйбла */
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(163, 116, 41);
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    .menu__box { /* список меню в хедере */
        transform: translateY(-100%); /* устанавливаю способ прятания */
        transition-duration: 1s; /* время */
        z-index: 2;
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: rgb(61, 68, 75);
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
    }

    .menu__item { /* ссылки в пунктах меню в хедере */
        display: block;
        padding: 12px 24px;
        color: rgb(163, 116, 41);
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }


    .menu__box a:hover, /* при наведении и клике нассылки в списке меню в хедере */
    .menu__box a:active {
        color: rgb(173, 219, 202);
        background-color: rgba(61, 68, 75, 0.5);
        border: 1px solid rgb(173, 219, 202);
    }

    .menu__box a {
        margin-right: 0;
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    /*#menu__toggle:checked ~ .menu__box*/
    .show {
        transform: translateY(0%); /* перебиваю hide */
        transition-duration: 1s; /* перебиваю hide */
        visibility: visible;
        left: 0;
        z-index: 2;
        padding-top: 3em;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: 0.5s; /* скорость появления крестика при нажатом бургере */
    }

    /*-----------конец стилей для бургер меню которое отобразится на мобилках------------*/
    .menu__box:last-child {
        margin-right: 0;
    }

    .menu__box {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .menu__box li {
        display: block;
        margin: 0
    }

    footer {
        padding: 10px;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer__map {
        order: 1;
        flex-basis: 100%;
    }

    .footer__menu-wrapper {
        order: 2;
        flex-basis: 100%;
        margin: 0;
    }

    .footer__menu {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin-bottom: -2rem;
    }

    .footer__menu > li > .menu__item {
        padding: 0;
    }

    .footer__work-time {
        order: 3;
        padding: 0;
        flex-basis: 100%;
        text-align: center;
    }

    .footer__copyright {
        font-size: 0.9em;
        margin-top: 0;
    }

    .footer__contacts {
        order: 4;
        padding: 0.3rem;
        flex-basis: 100%;
        text-align: center;
    }
}

@media (max-width: 420px) {
    .footer__menu {
        justify-content: center;
    }

    .footer__menu > li {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }

    .footer__work-time {
        padding: 0;
        margin-top: 4em;
    }
}

@media (max-width: 345px) {
    body {
        min-width: 346px;
    }
}

.up-key {
    transition-property: all;
    transition-duration: 2s;

}

#upbutton { /* кнопка вверх */
    height: 63px;
    width: 38px;
    bottom: 15px;
    right: 70px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
}

/*------------/FOOTER------------*/

.remove {
    display: none!important;
}

.display {
    display: block!important;
}