html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper {

}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    position: fixed; /* при скроле меню будет всегда на экране */
    width: 100%;
    top: 0;
    left: 0;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5e5373;
    z-index: 2;
}

.header__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 1 1 60px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
    max-height: 78px;
    display: block;
}

.header__burger {
    display: none;
}

.header__menu {
}

@media (max-width: 767px) {
    .header__body {
        height: 50px;
    }

    .header__logo {
        flex: 0 0 40px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background-color: #ffffff;
        left: 0;
        width: 100%;
        height: 1px;
        top: 9px;
    }

    .header__burger:before,
    .header__burger:after{
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #18b5a4;
        padding: 70px 10px 20px 10px;
    }

    .header__list {
        flex-direction: column;
        height: 100vh;
        padding: 0;
        margin: 0;
    }

    .header__list li {
        padding: 30px;
    }
    .header__list li > a {
        padding: 15px;
    }

    .header__burger:hover+  .header__menu,
    .header__burger:active  +  .header__menu{
        display: flex;

    }
}

.header__list {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list  li {
    list-style: none;
    margin: 0 0 0 20px;
}

.header__link {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.content {
padding: 100px 0 0 0;
}

.content__text {
    font-size: 18px;
    line-height: 25px;
}

.content__text p {
    margin: 0 0 20px 0;
}