.toning { /* обертка */
}

.toning__tittle { /* h1 */
}

.toning__sup-title { /* h2 */
    text-transform: none;
    text-align: justify;
}

.toning__sup-title + .toning__sub-title {
    padding-bottom: 0;
    text-align: center;
}

.toning__sub-title { /* h3 */
}

.toning__list {
    margin-left: 1rem;
}

.toning__sup-list { /* h4 */
    padding: 0.3rem 0;
    font-size: 0.9rem;
    font-weight: 600;
}

.toning__content { /* основной текст-контент */
}

.toning__img {
}

table {
    position: relative;
    width: 80%;
    margin: 1rem 10% 1rem 10%;
    border-collapse: collapse;
    font-weight: 100;
}

tr {
}

tr:last-child {
    border-bottom: 1px solid rgb(35, 15, 36);
}

td, th {
    padding: 0.4rem 0;
    text-align: center;
    font-size: 1em;
}

td {
    border-left: 1px solid rgb(35, 15, 36);
    border-right: 1px solid rgb(35, 15, 36);
    color: rgb(35, 15, 36);
    font-weight: 400;

}

tr:nth-child(even) {
    background-color: var(--white-color);
}

tr:nth-child(odd) {
    background-color: rgb(193, 197, 224);
}

th {
    font-weight: 500;
    background-color: rgb(3, 67, 144);
    color: rgb(202, 224, 235);
    border-left: 1px solid var(--white-color);
    border-top: 1px solid rgb(35, 15, 36);
}

th.left {
    border-left: 1px solid rgb(35, 15, 36);
}

th.right {
    border-right: 1px solid rgb(35, 15, 36);
}

ul > li > span {
    font-weight: 600;
}

.toning__prise-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.toning__card {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 20%;
    padding: 15px;
    margin-bottom: 1rem;
    border: 2px solid rgb(199, 8, 26);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    background-color: var(--white-color);
}

.toning__purchase {
    height: 2.2em;
    font-weight: 700;
    text-align: center;
}


.toning__icon {
    width: 100%;
}

.toning__description {
    margin-bottom: 1rem;
    color: rgb(136, 151, 124);
    text-align: justify;
    font-size: 0.9em;
}

.toning__prise {
    padding: 0.5em 0;
    margin: auto 1.2rem 0 1.2rem;
    background-color: rgb(199, 8, 26);
    color: var(--white-color);
    border-radius: 8px;
    text-align: center;
}

@media (max-width: 1110px) {
    .toning {
        width: 90vw;
        left: 5vw;
    }

    .toning__img {
        left: 15vw;
    }
}

@media (max-width: 770px) {

    .toning__prise-area {
        justify-content: center;
    }

    .toning__card {
        width: 25%;
    }

    .card1 {
    }

    .card2 {
    }

    .card1, .card2 {
        margin: 0 6vw 1rem 6vw;
    }

    .card3 {
    }

    .card4 {
    }

    .card3, .card4 {
        margin: 0 6vw 1rem 6vw;
    }

}

@media (max-width: 559px) {
    .toning__list + .toning__sub-title {
        text-align: center;
    }

    table {
        width: 95%;
        margin: 1rem 2.5% 1rem 2.5%;
        font-size: 0.8em;
    }

    .toning__card {
        width: 78%;
    }

    .toning__purchase {
        font-size: 1rem;
    }

    .toning__icon {
        width: 30%;
        margin: 0 auto;
    }

    .toning__description {
        font-size: 1.1em;
    }

    .toning__prise {
        padding: 0.5em 1.5em;
        margin: auto 6.2rem 0 6.2rem;
    }
}

@media (max-width: 430px) {
    .toning__prise {
        padding: 0.5em 0;
        margin: auto 5.2rem 0 5.2rem;
    }
}

@media (max-width: 380px) {
    .toning {
        width: 22rem;
        left: 1rem;
    }

    table {
        width: 100%;
        margin: 1rem 0 1rem 0;
        font-size: 0.7em;
    }
}