#upbutton { /* кнопка вверх */
    position: fixed;
    display: none;
    height: 60px;
    width: 60px;
    bottom: 15px;
    right: 70px;
    cursor: pointer;
    z-index: 999;
}

#upbutton:before { /* правая часть стрелки */
    content: "";
    display: inline-block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-color);
    transform: translate(25px, 20px) rotate(40deg);

}

#upbutton:after { /* левая часть стрелки */
    content: "";
    display: inline-block;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-color);
    transform: rotate(-40deg) translate(-3px, -1px);
}

@media (max-width: 1110px) {
    #upbutton:after {
        transform: rotate(-40deg) translate(-9px, 4px);
    }
}