* {
    margin: 0;
    padding: 0;
}

.slider {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    top: 250px;
    left: 50%;
}
#slider__left {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: deeppink;
    border-radius: 50%;
    top: 95px;
    left: 2px;
    position: absolute;
    z-index: 2;

}

#slider__right {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: deeppink;
    border-radius: 50%;
    top: 95px;
    left: 98px;
    position: absolute;
    z-index: 2;

}




.slider__line {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    transition: all ease 1s;
    max-height: 150px;
}

.slider__item {
    width: 150px;
    height: 150px;


}

.red {
    background-color: red
}

.grey {
    background-color: grey
}

.green {
    background-color: greenyellow
}

.yellow {
    background-color: orange
}

.blue {
    background-color: blue
}
.black {
    background-color: black;
}

.chocolate {
    background-color: deeppink;
}
.hg{
    background-color: cyan;
}
.gh {
    background-color: darkslategray;

}
.ki {background-color: mediumvioletred;

}